@{
  Layout = "_layout";
}


<div class="jumbotron bg-dark text-white pad-top">
  <h1 class="text-center">Quality</h1>
  <h2 class="text-center">Vender and order Tracker</h2>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="http://source.unsplash.com/200x150/?Addition" alt="Card image cap">
    <div class="card-body">
      <a href="/venders/new"><h5 class="card-title">Add A Vender</h5></a>
      <p class="card-text">Quickly add a new vender to keep track of their orders.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Vender creation form</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://source.unsplash.com/200x150/?store-front" alt="Card image cap">
    <div class="card-body">
     <a href="/venders"> <h5 class="card-title">List Of Venders</h5></a>
      <p class="card-text">See all of your venders in one screen.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Vender list</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://source.unsplash.com/200x150/?Baked-goods" alt="Card image cap">
    <div class="card-body">
      <a href="/orders"><h5 class="card-title">List of Orders</h5></a>
      <p class="card-text">See all of your orders from all of your venders in one screen.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Birds eye view of orders</small>
    </div>
  </div>
</div>